Animal Classifier
<!-- <img [src]="imageSrc" #img/>
<button (click)="predict()">predict</button> -->

<div class="custom-file">
  <input type="file" (change)="fileChange($event)">
  <label>Select File</label>

  <img [src]="imageSrc" #img *ngIf="imageSrc"/>

  <!-- <div *ngFor="let prediction of predictions">
    {{prediction.className}} - {{prediction.probability}}
  </div> -->
</div>
{{ animalPrediction }}
<div>
  <!-- <div *ngFor="let animal of animals" fxLayout="column">
    {{ animal }}
  </div> -->
  <div *ngFor="let pred of predictions" fxLayout="column">
    {{ pred }}
  </div>
</div>
